# LLM Keys
OPENAI_API_KEY="sk-..."

# LangSmith Keys
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_..."
LANGSMITH_PROJECT="omnichat-project"

# API Keys
ALPHA_VANTAGE_API_KEY="__" # get it from https://www.alphavantage.co/